<div class="col-md-4" *ngFor="let film of movies">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{ film.title }}
      <button class="btn btn-danger">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img [src]="film.image" class="card-img-top">
    <div class="card-body">
      <p>{{film.description}}</p>
      <a href="" class="btn btn-info btn-block"> EDITAR PELICULA</a>
    </div>
  </div>
</div>
